header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header a img {
    width: 250px;
}

header nav {
    font-size: 18px;
}
header nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: var(--violeta);
    font-weight: 200;
}
header nav ul li:hover {
    cursor: pointer;
}
header nav ul li a {
    text-decoration: none;
}