* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gris: #858688;
  --violeta: #670C85;
  --fuente: 'Hind Guntur', sans-serif;
  
}

body {
  font-family: var(--fuente);
  height: 100vh;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}