.subscriptionForm {
font-size: 20px;    
}

.subscriptionForm label {
    color: var(--violeta);
}
header .subscriptionForm input[type="email"] {
    width: 200px;
    height: 25px;
    text-align: center;
}
.subscriptionForm button {
    margin: 5px;
    width: 150px;
    padding: 3px;
    font-weight: bold;
    color: var(--violeta);
    cursor: pointer;
}