form {
font-size: 20px;    
}

form label {
    color: var(--violeta);
}
header form input[type="email"] {
    width: 200px;
    height: 25px;
    text-align: center;
}
form button {
    margin: 5px;
    width: 150px;
    padding: 3px;
    font-weight: bold;
    color: var(--violeta);
    cursor: pointer;
}